<div class="loginPage">
  <div class="card">
    <div class="card-header text-center">
      <h5>Voting App </h5>
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title text-center">Enter Login Details</h5> -->
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Example label</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>

          <label >Password</label>
          <div >
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
  </div>
</div>
