

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-user-form (submitModal)="submitModal($event); modal.dismiss('Cross click')">
    </app-user-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')" *ngIf="modalType!=='Submit'">{{modalType}}</button>
  </div>
</ng-template>
<button class="btn btn-outline-primary mb-2 mr-2 btn-sm modalBtn"
(click)="openScrollableContent(longContent)">{{modalButton}}</button>
