<form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
  <div class="form-group">
    <label>User Name</label>
    <input type="text" name="userName" class="form-control" [(ngModel)]="model.name" #userName="ngModel"
      [ngClass]="{ 'is-invalid': (userName.touched|| userForm.submitted) && userName.invalid }" required>
    <div class="invalid-feedback" *ngIf="(userName.touched || userForm.submitted) && userName.invalid">
      <p *ngIf="userName.errors.required">Name is required</p>
    </div>
  </div>

  <div class="form-group">
    <label>User Id</label>
    <input type="email" class="form-control" name="userId" [(ngModel)]="model.email" #email="ngModel"
      [ngClass]="{ 'is-invalid': (email.touched || userForm.submitted) && email.invalid }" email required>
    <div *ngIf="(email.touched || userForm.submitted) && email.invalid" class="invalid-feedback">
      <div *ngIf="email.errors.required">Email is required</div>
      <div *ngIf="email.errors.email">Must be a valid email format</div>
    </div>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
      [ngClass]="{ 'is-invalid': (password.touched || userForm.submitted) && password.invalid }" minlength="8" required>
    <div *ngIf="(password.touched || userForm.submitted)&& password.invalid" class="invalid-feedback">
      <div *ngIf="password.errors.required">Password is required</div>
      <div *ngIf="password.errors.minlength">Password should be at least 8 characters long</div>
    </div>
  </div>

  <div class="form-group">

    <div class="form-check">
      <input type="checkbox" class="form-check-input" name="isAdmin" value="false" [(ngModel)]="model.isAdmin" #isAdmin="ngModel">
      <label class="form-check-label">is User Admin</label>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-danger btn-block">Submit</button>
  </div>
</form>
