
.card{
  margin: 2rem;
  border: 5px solid rgba(0, 0, 0, 0.03);
  .table{
    padding: 1px;;
  }
  .nav-Bar{
    float: right;
  }
  .Modal{
    float: right;
  }
}
.floatRight{
  float: right;
}
.BackgroundColor{
  background-color: DodgerBlue;
  color: white;
}
.btn{
  margin-left: 0.5rem;
}
